.dashboardContainer {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.cartsHeader {
    padding-top: calc(6rem + env(safe-area-inset-top));
    color: var(--navyBlue);
    font-weight: 800;
    font-size: 2rem;
}

.newCartBtn {
    position: absolute;
    bottom: 0;
    margin: 2rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 8rem;
    background-color: var(--mainBlue);
    color: var(--milky);
    filter: drop-shadow(0 0 16px var(--mainBlue));
    width: 60%;
    cursor: pointer;
    font-size: larger;
}

.newCartBtn:hover {
    color: var(--paleBlue);
}

.newCartBtn:active {
    transform: scale(0.97);
}

.cartsTable {
    width: 100%;
    height: 100%;
    display: table;
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
    padding-bottom: calc(8rem + env(safe-area-inset-bottom));
}

.cartsTableHeaders {}

.cartsTableBody {
    width: 100%;
}

.cartsTableAdditional {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    font-weight: bold;
}

.retryBtn {
    padding: 1rem 2rem;
    margin: 1.5rem;
    background-color: rgb(248, 45, 45);
    color: var(--milky);
    border-radius: 6rem;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 0 16px rgb(248, 45, 45));
}

.retryBtn:active {
    transform: scale(0.9);
}

@media only screen and (max-width: 721px) {
    .newCartBtn {
        width: 90%;
    }

    .cartsTableHeaders>th:nth-child(2),
    .cartsTableHeaders>th:nth-child(3) {
        display: none;
    }
}