.appContainer {
    background-color: var(--milky);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.mainLoader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}