:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --navyBlue: #1B325F;
  --paleBlue: #9CC4E4;
  --milky: #E9F2F9;
  --mainBlue: #3A89C9;
  --accentingRed: #F26C4F;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}